.container-description {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: start;
  flex-direction: column;
  padding: 10px 7px 20px;
  justify-content: space-between;
}
.container-description .text {
  margin-bottom: 8px;
  color: var(--color-grey-light);
  font-size: 15px;
}
.container-description .sub-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: var(--color-black-light);
}

.listing__btn {
  display: block;
  border: 1px solid var(--color-bacground-btn-card);
  padding: 10px 15px;
  color: var(--color-white);
  text-transform: uppercase;
  background: var(--color-bacground-btn-card);
  text-align: center;
  text-decoration: none;
}

.container-cards {
  width: 85%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width: 320px;
  height: 460px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 30px 0 50px;
  transition: transform 0.2s;
  background-color: var(--color-white);
}
.card img {
  width: 100%;
  height: 42%;
}

.container-icons {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.container-icons .item img {
  width: 45px;
}

.container-cards .card:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.12);
}
/* card slider */
/* Carrossel  */
.container-slider-cards {
  width: 100%;
  text-align: center;
  position: relative;
}
.container-slider-cards .left-slide,
.container-slider-cards .right-slide {
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: -20px;
  border-radius: 50%;
  position: absolute;
  transition: all 0.5s ease;
  background-color: var(--color-grey-dark);
}
.container-slider-cards .left-slide:hover,
.container-slider-cards .right-slide:hover {
  background-color: var(--color-blue);
}

.container-slider-cards .left-slide {
  left: 30px;
  display: flex;
  place-content: center;
}
.container-slider-cards .right-slide {
  right: 30px;
  display: flex;
  place-content: center;
}
.container-slider-cards .right-slide img,
.left-slide img {
  width: 40%;
}

.slider-items-cards {
  display: flex;
  min-height: 600px;
  place-content: center;
}
@media (max-width: 764px) {
  .slider-items-cards {
    overflow-x: auto;
    justify-content: flex-start;
  }
  .slider-items-cards .slider-cards {
    opacity: 1;
    position: relative;
  }
  .container-slider-cards .left-slide,
  .container-slider-cards .right-slide {
    display: none;
  }
}

.slider-cards {
  opacity: 0;
  display: flex;
  height: 570px;
  position: absolute;
  place-content: center;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.slider-cards.active {
  opacity: 1;
}
/* 



/* card slider */
