:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #202020;
  --color-blue: #29a8e2c9;
  --color-footer: #f8f8f8;
  --color-grey-light: #999;
  --color-black-light: #333;
  --color-border-menu: #8d938e;
  --color-white-medium: #dedede;
  --color-grey-dark: #444444b5;
  --color-background-body: #f6f6f6;
  --color-bacground-btn-card: #8ac33f;
}

#root {
  width: 1300px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title-banner {
  color: var(--color-white);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

body {
  background-color: var(--color-background-body);
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  text-align: start;
  align-items: center;
  flex-direction: column;
}
.titles {
  margin: 35px 0;
  font-size: 50px;
  color: var(--color-bacground-btn-card);
}
.paragrafo {
  color: var(--color-white);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.container-chamada {
  width: 98.95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white-medium);
}

#map {
  height: 500px;
  width: 1200px;
  margin-bottom: 60px;
  background: #128cf7;
}
.menu-desktop {
  display: block;
}
@media only screen and (max-width: 764px) {
  #root {
    width: 100%;
  }

  .titles {
    font-size: 35px;
  }

  #map {
    width: 98%;
  }
  .container-chamada {
    flex-direction: column;
    align-items: center;
  }
  .paragrafo {
    font-size: 19px;
    margin-bottom: 20px;
    text-align: center;
  }
  .title-banner {
    font-size: 20px;
  }
  .menu-desktop {
    display: none;
  }
}
